<main>
  <div class="container">
    
    <div class="row mt-3">
      <div class="col-sm"></div>
      <div class="col-sm text-center"><h2>保護者一覧</h2></div>
      <div class="col-sm"></div>
    </div>
    
    <div class="row mt-3">
      <div class="col-sm"></div>
      <div class="col-sm">
        <table class="table table-hover table-inverse">
          <% @followers.each do |follow| %>
            <thead>
              <tr>
                <th>名前</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= follow.parent.name %></td>
                <td><%= link_to "登録解除", teacher_teacher_parent_follow_path(teacher_id:current_teacher.id, id:follow.id), method: :delete %></td>
              </tr>
            </tbody>
          <% end %>
        </table>
      </div>
      <div class="col-sm"></div>
    </div>
    
    <div class="row">
      <div class="col-sm"></div>
      <div class="col-sm"><%= paginate @followers %></div>
      <div class="col-sm"></div>
    </div>
    
  </div>
</main>