<div class="row mt-3">
  <div class="col-md-2"></div>
  
  <div class="col-md-8">
    <p style="color:blue"><%= flash[:notice] %></p>
    
    <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th class="text-center"><%= @connection.title %></</th>
        </tr>
      </thead>
    </table>
    <tbody>
      <tr>
        <td><%= @connection.body %></td>
      </tr>
    </tbody>
  </div>
  
  <div class="col-md-2"></div>
</div>