<main>
  <div class="container">
    <div class="row mt-5">
      <h2>連絡詳細</h2>
    </div>
    
    <%= render "teacher/connections/show" %>
    
    <div class="row">
      <div class="col-md-8 offset-2 text-right">
        <%= link_to "編集する", edit_teacher_connection_path(@connection), class: "btn btn-success" %>
        <%= link_to "削除する", teacher_connection_path(@connection), class: "btn btn-danger", method: :delete, "data-confirm" => "本当に削除しますか？" %>
      </div>
    </div>
    
  </div>
</main>