<main>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 cover-img" style="background-image:url(/assets/C785_houkagonokokuban.jpg.webp)">
        <div class="cover-text text-center">
          <h1 style="color: #fff;">小さなことから連絡を</h1>
        </div>
      </div>
    </div>
    
    <div class="row header-explanation-all">
      <div class="col d-flex align-items-center justify-content-center"><i class="fas fa-file-signature fa-3x"></i></div>
      <div class="col mt-3">
        <h4 class="header-explanation-title">Connection</h4>
        <div class="header-explanation mb-4">宿題の範囲などの日常的な細かいお知らせから面談や授業参観などの大きなお知らせまでクラスごとに連絡をすることができます。</div>
      </div>
      
      <div class="col d-flex align-items-center justify-content-center"><i class="fas fa-calendar-alt fa-3x"></i></div>
      <div class="col mt-3">
        <h4 class="header-explanation-title">Schedule</h4>
        <div class="header-explanation">年間の予定をカレンダーで確認することができます。予定表を紛失する心配がなくなります。</div>
      </div>
      
      <div class="col d-flex align-items-center justify-content-center"><i class="fas fa-check-square fa-3x"></i></div>
      <div class="col mt-3">
        <h4 class="header-explanation-title">Keep</h4>
        <div class="header-explanation mr-3">届いた連絡をキープしておけば、一覧画面からキープした連絡をすぐに確認することができます。</div>
      </div>
    </div>
    
     
    
  </div>
</main>