<main>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 cover-img" style="background-image:url(/assets/C785_houkagonokokuban.jpg.webp)">
        <div class="cover-text text-center">
          <h1 style="color: #fff;">ここにテキスト</h1>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col"><h4 class="text-center"><%= link_to "保護者の方はこちら", new_parent_session_path %></h4></div>
      <div class="col"><h4 class="text-center"><%= link_to "教員の方はこちら",  new_teacher_session_path %></h4></div>
    </div>
  </div>
</main>