<main>
  <div class="container">
    
    <div class="row mt-3">
      <div class="col">
        <h2 class="text-center">年間予定</h2>
      </div>
    </div>
    
    <div class="row mt-3">
      <div class="col-md-2"></div>
      
      <div class="col-md-8">
        <%= month_calendar events: @years do |date, years| %>
          <%= date.day %>
          
          <% years.each do |year| %>
            <%= year.title %>
          <% end %>
        <% end %>
      </div>
      
      <div class="col-md-2"></div>
      
    </div>
  </div>
</main>