<main>
  <div clsss="container">
    
    <div class="row mt-3">
      <div class="col-sm"></div>
      <div class="col-sm text-center"><h1>連絡事項</h1></div>
      <div class="col-sm"></div>
    </div>
    
    <div class="row mt-3">
      <div class="col-sm"></div>
      
      <div class="col-sm">
        <%= render "teacher/connections/index" %>
      </div>
      
      <div class="col-sm"></div>
    </div>
  </div>
 
</main>

